langchain
langchain-core
langgraph
langchain-groq

langchain-openai
openai

langchain-anthropic
anthropic

langchain-google-genai
google-generativeai

tavily
python-dotenv
langsmith
ipywidgets
ipykernel

pydantic